* text=auto eol=crlf
*.sh !eol

# ClonkMars and Eke Reloaded are redistributed as exact copies under the
# permission recorded in THIRD_PARTY_GAME_CONTENT.md. Keep Git from rewriting
# their bytes: any eol normalization would change resource bytes and the
# network checksums the engine computes over these groups.
/ClonkMars.c4d/** binary
/ClonkMars.c4f/** binary
/EkeReloaded.c4d/** binary
/EkeReloaded.c4f/** binary
